- content_for :app_head do
  = javascript_include_tag "pages/certificates/test-bundle"
  = stylesheet_link_tag "pages/certificates/test-bundle", :media => "all"


- content_for :app_content do
  .wrap
    .left-div
      .form-horizontal
        .form-group
          %label.control-label.col-sm-3 设备码
          .col-sm-9
            %input#device-code.form-control{type: "text"}
        .form-group
          %label.control-label.col-sm-3 产品码
          .col-sm-9
            %input#product-code.form-control{type: "text"}
      %button.btn#scan{type: "button"} 查看
      %button.btn#verify{type: "button"} 验证
    .right-div
      %p 返回结果
      .result-div


