- content_for :app_head do
  = javascript_include_tag "pages/certificates/test-bundle"
  = stylesheet_link_tag "pages/certificates/test-bundle", :media => "all"


- content_for :app_content do
  %div A
